body{
  background: linear-gradient(#9ee8ff 1000px, #bdebf9 5000px, #cef3ff 8000px);
}

p{
  font-family: 'Arial', sans-serif;
}

#counter {
  position: absolute;
  top: 600px;
  left: 10%;
  margin: 0;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid #fff;
  text-align: center;
  box-shadow: 0 15px 15px 0px rgba(0,0,0,0.2);
}

#canvas {
  position: relative;
  margin: 0 auto;
  width: 1500px;
  height: 10000px;
  padding: 0;
}

#square1 {
  width: 400px;
  height: 350px;
  position: absolute;
  top: 1200px;
  left: 50px;
  background-color: #87caff;
  border: 3px solid #fff;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  animation: float 5s ease-in-out infinite;
}

#phone1 {
  width: 300px;
  height: 200px;
  position: absolute;
  top: 1300px;
  left: 800px;
  background-color: #9acdf4;
  border: 3px solid #fff;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  animation: float 6s ease-in-out infinite;
}

#name1 {
   width: 100px;
   height: 100px;
   position: absolute;
   top: 1325px;
   left: 1300px;
   text-align: center;
   background-color: #ed9090;
   border: 2px Solid #fff;
   color: #fff;
   border-radius: 50%;
   padding: 20px;
   text-align: center;
   display: inline-flex;
   align-items: center;
   justify-content: center;
 }

#parachute1 {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 830px;
  left: 0px;
  opacity: 0.8;
  animation: floats 5s ease-in-out infinite;
}

#parachute2 {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 960px;
  left: 700px;
  opacity: 0.8;
  animation: floats 6s ease-in-out infinite;
}

#square2 {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 2250px;
  left: 100px;
  background-color: #8ac5cc;
  border: 3px solid #fff;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  animation: float 6s ease-in-out infinite;
}

#phone2 {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 2350px;
    left: 800px;
    background-color: #ace8ef;
    border: 3px solid #fff;
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    animation: float 5s ease-in-out infinite;
}

#name2 {
   width: 100px;
   height: 100px;
   position: absolute;
   top: 2400px;
   left: 1300px;
   text-align: center;
   background-color: #65bded;
   border: 2px Solid #fff;
   color: #fff;
   border-radius: 50%;
   padding: 20px;
   text-align: center;
   display: inline-flex;
   align-items: center;
   justify-content: center;
 }

#parachute3 {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 1880px;
  left: 50px;
  opacity: 0.8;
  animation: floats 6s ease-in-out infinite;
}

#parachute4 {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 2010px;
  left: 675px;
  opacity: 0.8;
  animation: floats 5s ease-in-out infinite;
}

#square3 {
  width: 300px;
  height: 400px;
  position: absolute;
  top: 3200px;
  left: 100px;
  background-color: #6ed3a3;
  border: 3px solid #fff;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  animation: float 4s ease-in-out infinite;
}

#phone3 {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 3300px;
    left: 800px;
    background-color: #acefcf;
    border: 3px solid #fff;
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    animation: float 6s ease-in-out infinite;
}

#name3 {
   width: 100px;
   height: 100px;
   position: absolute;
   top: 3350px;
   left: 1300px;
   text-align: center;
   background-color: #52b750;
   border: 2px Solid #fff;
   color: #fff;
   border-radius: 50%;
   padding: 20px;
   text-align: center;
   display: inline-flex;
   align-items: center;
   justify-content: center;
 }

#parachute5 {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 2830px;
  left: 0px;
  opacity: 0.8;
  animation: floats 4s ease-in-out infinite;
}

#parachute6 {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 2960px;
  left: 675px;
  opacity: 0.8;
  animation: floats 6s ease-in-out infinite;
}

#square4 {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 4300px;
  left: 100px;
  background-color: #61ad6a;
  border: 3px solid #fff;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  animation: float 6s ease-in-out infinite;
}

#phone4 {
    width: 300px;
    height: 200px;
    position: absolute;
    top: 4400px;
    left: 800px;
    background-color: #a5e5ac;
    border: 3px solid #fff;
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    animation: float 5s ease-in-out infinite;
}

#name4 {
   width: 100px;
   height: 100px;
   position: absolute;
   top: 4450px;
   left: 1300px;
   text-align: center;
   background-color: #e2e048;
   border: 2px Solid #fff;
   color: #fff;
   border-radius: 50%;
   padding: 20px;
   text-align: center;
   display: inline-flex;
   align-items: center;
   justify-content: center;
 }

#parachute7 {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 3930px;
  left: 50px;
  opacity: 0.8;
  animation: floats 6s ease-in-out infinite;
}

#parachute8 {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 4060px;
  left: 700px;
  opacity: 0.8;
  animation: floats 5s ease-in-out infinite;
}

#square5 {
  width: 500px;
  height: 300px;
  position: absolute;
  top: 5400px;
  left: 100px;
  background-color: #85d170;
  border: 3px solid #fff;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  animation: float 4s ease-in-out infinite;
}

#phone5 {
    width: 200px;
    height: 300px;
    position: absolute;
    top: 5350px;
    left: 850px;
    background-color: #b3e5a5;
    border: 3px solid #fff;
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    animation: float 5s ease-in-out infinite;
}

#name5 {
   width: 100px;
   height: 100px;
   position: absolute;
   top: 5450px;
   left: 1300px;
   text-align: center;
   background-color: #e29e3f;
   border: 2px Solid #fff;
   color: #fff;
   border-radius: 50%;
   padding: 20px;
   text-align: center;
   display: inline-flex;
   align-items: center;
   justify-content: center;
 }

#parachute9 {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 5000px;
  left: 100px;
  opacity: 0.8;
  animation: floats 4s ease-in-out infinite;
}

#parachute10 {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 5000px;
  left: 700px;
  opacity: 0.8;
  animation: floats 5s ease-in-out infinite;
}

#square6 {
  width: 500px;
  height: 400px;
  position: absolute;
  top: 6350px;
  left: 100px;
  background-color: #a4c665;
  border: 3px solid #fff;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  animation: float 5s ease-in-out infinite;
}

#phone6 {
    width: 300px;
    height: 250px;
    position: absolute;
    top: 6450px;
    left: 800px;
    background-color: #d0e8a4;
    border: 3px solid #fff;
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    animation: float 7s ease-in-out infinite;
}

#name6 {
   width: 100px;
   height: 100px;
   position: absolute;
   top: 6500px;
   left: 1300px;
   text-align: center;
   background-color: #c66ae2;
   border: 2px Solid #fff;
   color: #fff;
   border-radius: 50%;
   padding: 20px;
   text-align: center;
   display: inline-flex;
   align-items: center;
   justify-content: center;
 }

#parachute11 {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 5950px;
  left: 100px;
  opacity: 0.8;
  animation: floats 5s ease-in-out infinite;
}

#parachute12 {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 6100px;
  left: 700px;
  opacity: 0.8;
  animation: floats 7s ease-in-out infinite;
}

#square7 {
  width: 450px;
  height: 350px;
  position: absolute;
  top: 7500px;
  left: 100px;
  background-color: #d2d66b;
  border: 3px solid #fff;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  animation: float 6s ease-in-out infinite;
}

#phone7 {
    width: 350px;
    height: 250px;
    position: absolute;
    top: 7600px;
    left: 750px;
    background-color: #e3e5b0;
    border: 3px solid #fff;
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    animation: float 4s ease-in-out infinite;
}

#name7 {
   width: 100px;
   height: 100px;
   position: absolute;
   top: 7600px;
   left: 1300px;
   text-align: center;
   background-color: #e28cc9;
   border: 2px Solid #fff;
   color: #fff;
   border-radius: 50%;
   padding: 20px;
   text-align: center;
   display: inline-flex;
   align-items: center;
   justify-content: center;
 }

#parachute13 {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 7100px;
  left: 75px;
  opacity: 0.8;
  animation: floats 6s ease-in-out infinite;
}

#parachute14 {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 7250px;
  left: 700px;
  opacity: 0.8;
  animation: floats 4s ease-in-out infinite;
}

#square8 {
  width: 400px;;
  height: 300px;;
  position: absolute;
  top: 8600px;
  left: 100px;
  background-color: #e8ab43;
  border: 3px solid #fff;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  animation: float 5s ease-in-out infinite;
}

#phone8 {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 8600px;
    left: 750px;
    background-color: #e5d2b0;
    border: 3px solid #fff;
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    animation: float 4s ease-in-out infinite;
}

#name8 {
   width: 100px;
   height: 100px;
   position: absolute;
   top: 8600px;
   left: 1300px;
   text-align: center;
   background-color: #a05858;
   border: 2px Solid #fff;
   color: #fff;
   border-radius: 50%;
   padding: 20px;
   text-align: center;
   display: inline-flex;
   align-items: center;
   justify-content: center;
 }

#parachute15 {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 8200px;
  left: 50px;
  opacity: 0.8;
  animation: floats 5s ease-in-out infinite;
}

#parachute16 {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 8250px;
  left: 650px;
  opacity: 0.8;
  animation: floats 4s ease-in-out infinite;
}

#crate1 {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 9550px;
  left: 50px;
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
  }
    from {-webkit-transform:translate(0, 0px);
  }
  65% {-webkit-transform:translate(0, 30px);
  }
    to {-webkit-transform: translate(0, -0px);
  }
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	}
}

@keyframes floats {
    from {-webkit-transform:translate(0, 0px);
  }
  65% {-webkit-transform:translate(0, 30px);
  }
    to {-webkit-transform: translate(0, -0px);
  }
}

#cloud1{
  width: 600px;
  height: 400px;
  position: absolute;
  top: 300px;
  left: 400px;
}

#cloud2{
  width: 600px;
  height: 400px;
  position: absolute;
  top: 150px;
  left: 500px;
}

#cloud3{
  width: 600px;
  height: 400px;
  position: absolute;
  top: 1000px;
  left: 300px;
}

#cloud4{
  width: 600px;
  height: 400px;
  position: absolute;
  top: 700px;
  left: 600px;
}

#cloud5{
  width: 600px;
  height: 400px;
  position: absolute;
  top: 2100px;
  left: 500px;
}

#cloud6{
  width: 600px;
  height: 400px;
  position: absolute;
  top: 2500px;
  left: 300px;
}

#cloud7{
  width: 600px;
  height: 400px;
  position: absolute;
  top: 3800px;
  left: 300px;
}

#bird1{
  width: 600px;
  height: 400px;
  position: absolute;
  top: 2200px;
  left: 300px;
}

#bird2{
  width: 600px;
  height: 400px;
  position: absolute;
  top: 600px;
  left: 300px;
}

#plane1{
  width: 1000px;
  height: 500px;
  position: absolute;
  top: 1450px;
  left: 300px;
}

#plane2{
  width: 1000px;
  height: 500px;
  position: absolute;
  top: 2550px;
  left: 300px;
}

#plane3{
  width: 1000px;
  height: 500px;
  position: absolute;
  top: 3550px;
  left: 300px;
}

#plane4{
  width: 1000px;
  height: 500px;
  position: absolute;
  top: 4650px;
  left: 300px;
}

#plane5{
  width: 1000px;
  height: 500px;
  position: absolute;
  top: 5600px;
  left: 300px;
}

#plane6{
  width: 1000px;
  height: 500px;
  position: absolute;
  top: 6700px;
  left: 300px;
}

#plane7{
  width: 1000px;
  height: 500px;
  position: absolute;
  top: 7800px;
  left: 300px;
}

#plane8{
  width: 1000px;
  height: 500px;
  position: absolute;
  top: 8850px;
  left: 300px;
}

#cloud8{
  width: 600px;
  height: 400px;
  position: absolute;
  top: 4000px;
  left: 400px;
}

#cloud9{
  width: 600px;
  height: 400px;
  position: absolute;
  top: 5450px;
  left: 500px;
}

#cloud10{
  width: 600px;
  height: 400px;
  position: absolute;
  top: 6000px;
  left: 300px;
}

#cloud11{
  width: 600px;
  height: 400px;
  position: absolute;
  top: 6600px;
  left: 600px;
}

#cloud12{
  width: 600px;
  height: 400px;
  position: absolute;
  top: 7500px;
  left: 500px;
}

#cloud13{
  width: 600px;
  height: 400px;
  position: absolute;
  top: 8300px;
  left: 300px;
}

#cloud14{
  width: 600px;
  height: 400px;
  position: absolute;
  top: 9000px;
  left: 300px;
}

#bird3{
  width: 600px;
  height: 400px;
  position: absolute;
  top: 6100px;
  left: 300px;
}

#bird4{
  width: 600px;
  height: 400px;
  position: absolute;
  top: 8800px;
  left: 300px;
}

.x1 {
	-webkit-animation: moveclouds 20s linear infinite;
	-moz-animation: moveclouds 20s linear infinite;
	-o-animation: moveclouds 20s linear infinite;
  opacity: 1;
}

.x2 {
	-webkit-animation: moveclouds 15s linear infinite;
	-moz-animation: moveclouds 15s linear infinite;
	-o-animation: moveclouds 15s linear infinite;
  opacity: 0.7;
}

.x3 {
	-webkit-animation: moveclouds 12s linear infinite;
	-moz-animation: moveclouds 12s linear infinite;
	-o-animation: moveclouds 12s linear infinite;
  opacity: 0.8;
}

.x4 {
	-webkit-animation: moveclouds 17s linear infinite;
	-moz-animation: moveclouds 17s linear infinite;
	-o-animation: moveclouds 17s linear infinite;
  opacity: 0.7;
}

.x5 {
	-webkit-animation: moveclouds 13s linear infinite;
	-moz-animation: moveclouds 13s linear infinite;
	-o-animation: moveclouds 13s linear infinite;
  opacity: 0.8;
}

.x6 {
	-webkit-animation: moveclouds 10s linear infinite;
	-moz-animation: moveclouds 10s linear infinite;
	-o-animation: moveclouds 10s linear infinite;
  opacity: 1;
}

.x7 {
	-webkit-animation: moveclouds 20s linear infinite;
	-moz-animation: moveclouds 20s linear infinite;
	-o-animation: moveclouds 20s linear infinite;
  opacity: 0.8;
}

.x8 {
	-webkit-animation: movebirds 17s linear infinite;
	-moz-animation: movebirds 17s linear infinite;
	-o-animation: movebirds 17s linear infinite;
  opacity: 0.7;
}

.x9 {
	-webkit-animation: moveclouds 13s linear infinite;
	-moz-animation: moveclouds 13s linear infinite;
	-o-animation: moveclouds 13s linear infinite;
  opacity: 0.8;
}

.x10 {
	-webkit-animation: moveplanes 15s linear infinite;
	-moz-animation: moveplanes 15s linear infinite;
	-o-animation: moveplanes 15s linear infinite;
}

.x11 {
	-webkit-animation: moveplanes 17s linear infinite;
	-moz-animation: moveplanes 17s linear infinite;
	-o-animation: moveplanes 17s linear infinite;
}

.x12 {
	-webkit-animation: moveplanes 16s linear infinite;
	-moz-animation: moveplanes 16s linear infinite;
	-o-animation: moveplanes 16s linear infinite;
}

.x13 {
	-webkit-animation: moveplanes 15s linear infinite;
	-moz-animation: moveplanes 15s linear infinite;
	-o-animation: moveplanes 15s linear infinite;
}

.x14 {
	-webkit-animation: moveplanes 17s linear infinite;
	-moz-animation: moveplanes 17s linear infinite;
	-o-animation: moveplanes 17s linear infinite;
}

.x15 {
	-webkit-animation: moveplanes 16s linear infinite;
	-moz-animation: moveplanes 16s linear infinite;
	-o-animation: moveplanes 16s linear infinite;
}

.x16 {
	-webkit-animation: moveplanes 14s linear infinite;
	-moz-animation: moveplanes 14s linear infinite;
	-o-animation: moveplanes 14s linear infinite;
}

.x17 {
	-webkit-animation: moveplanes 15s linear infinite;
	-moz-animation: moveplanes 15s linear infinite;
	-o-animation: moveplanes 15s linear infinite;
}

.x18 {
	-webkit-animation: moveclouds 20s linear infinite;
	-moz-animation: moveclouds 20s linear infinite;
	-o-animation: moveclouds 20s linear infinite;
  opacity: 1;
}

.x19 {
	-webkit-animation: moveclouds 15s linear infinite;
	-moz-animation: moveclouds 15s linear infinite;
	-o-animation: moveclouds 15s linear infinite;
  opacity: 0.7;
}

.x20 {
	-webkit-animation: moveclouds 12s linear infinite;
	-moz-animation: moveclouds 12s linear infinite;
	-o-animation: moveclouds 12s linear infinite;
  opacity: 0.8;
}

.x21 {
	-webkit-animation: moveclouds 17s linear infinite;
	-moz-animation: moveclouds 17s linear infinite;
	-o-animation: moveclouds 17s linear infinite;
  opacity: 0.7;
}

.x22 {
	-webkit-animation: moveclouds 13s linear infinite;
	-moz-animation: moveclouds 13s linear infinite;
	-o-animation: moveclouds 13s linear infinite;
  opacity: 0.8;
}

.x23 {
	-webkit-animation: moveclouds 10s linear infinite;
	-moz-animation: moveclouds 10s linear infinite;
	-o-animation: moveclouds 10s linear infinite;
  opacity: 1;
}

.x24 {
	-webkit-animation: moveclouds 20s linear infinite;
	-moz-animation: moveclouds 20s linear infinite;
	-o-animation: moveclouds 20s linear infinite;
  opacity: 0.8;
}

.x25 {
	-webkit-animation: moveclouds 17s linear infinite;
	-moz-animation: moveclouds 17s linear infinite;
	-o-animation: moveclouds 17s linear infinite;
  opacity: 0.7;
}

.x26 {
	-webkit-animation: movebirds 13s linear infinite;
	-moz-animation: movebirds 13s linear infinite;
	-o-animation: movebirds 13s linear infinite;
  opacity: 0.8;
}

@-webkit-keyframes moveclouds {
	0% {margin-left: 1100px;}
	100% {margin-left: -1100px;}
}
@-moz-keyframes moveclouds {
	0% {margin-left: 1100px;}
	100% {margin-left: -1100px;}
}
@-o-keyframes moveclouds {
	0% {margin-left: 1100px;}
	100% {margin-left: -1100px;}
}

@-webkit-keyframes movebirds {
	0% {margin-left: -1100px;}
	100% {margin-left: 1100px;}
}
@-moz-keyframes movebirds {
	0% {margin-left: -1100px;}
	100% {margin-left: 1100px;}
}
@-o-keyframes movebirds {
	0% {margin-left: -1000px;}
	100% {margin-left: 1100px;}
}

@-webkit-keyframes moveplanes {
	0% {margin-left: 1300px;}
	100% {margin-left: -1400px;}
}
@-moz-keyframes moveplanes {
	0% {margin-left: 1300px;}
	100% {margin-left: -1400px;}
}
@-o-keyframes moveplanes {
	0% {margin-left: 1300px;}
	100% {margin-left: -1400px;}
}
