body{
  background: linear-gradient(#9ee8ff 1000px, #bdebf9 5000px, #cef3ff 8000px);
}

#counter {
  border: 1px solid red;
  position: absolute;
  top: 600px;
  left: 10%;
  margin: 0;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid #fff;
  text-align: center;
  box-shadow: 0 15px 15px 0px rgba(0,0,0,0.2);
}

#canvas {
  border: 1px solid blue;
  position: relative;
  margin: 0 auto;
  width: 1500px;
  height: 10000px;
  padding: 0;
}

#crate1 {
  position: absolute;
  top: 9550px;
  left: 50px;
}

#home {
  border: 1px solid green;
  margin: 0 auto;
  width: 1500px;
  height: 1000px;
  padding: 0;
}

#board1 {
  border: 1px solid yellow;
  margin: 0 auto;
  width: 1500px;
  height: 1000px;
  padding: 0;
}

#square1 {
  width: 600px;
  height: 493px;
  position: absolute;
  top: 1100px;
  left: 50px;
  background-color: #87caff;
  border: 3px solid #fff;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  animation: float 5s ease-in-out infinite;
}

#phone1 {
  width: 400px;
  height: 300px;
  position: absolute;
  top: 1600px;
  left: 800px;
  background-color: #9acdf4;
  border: 3px solid #fff;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  animation: float 6s ease-in-out infinite;
}

#info1 {
  position: absolute;
  top: 1050px;
  left: 800px;
}

#board2 {
  border: 1px solid orange;
  margin: 0 auto;
  width: 1500px;
  height: 1000px;
  padding: 0;
}

#square2 {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 2100px;
  left: 100px;
  background-color: #8ac5cc;
  border: 3px solid #fff;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  animation: float 6s ease-in-out infinite;
}

#phone2 {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 2400px;
    left: 900px;
    background-color: #ace8ef;
    border: 3px solid #fff;
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    animation: float 5s ease-in-out infinite;
}

#info2 {
  position: absolute;
  top: 2000px;
  left: 800px;
}

#board3 {
  border: 1px solid green;
  margin: 0 auto;
  width: 1500px;
  height: 1000px;
  padding: 0;
}

#square3 {
  width: 425px;
  height: 600px;
  position: absolute;
  top: 3100px;
  left: 100px;
  background-color: #6ed3a3;
  border: 3px solid #fff;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  animation: float 4s ease-in-out infinite;
}

#phone3 {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 3500px;
    left: 900px;
    background-color: #acefcf;
    border: 3px solid #fff;
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    animation: float 6s ease-in-out infinite;
}

#info3 {
  position: absolute;
  top: 3000px;
  left: 800px;
}

#board4 {
  border: 1px solid yellow;
  margin: 0 auto;
  width: 1500px;
  height: 1000px;
  padding: 0;
}

#square4 {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 4100px;
  left: 100px;
  background-color: #61ad6a;
  border: 3px solid #fff;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  animation: float 6s ease-in-out infinite;
}

#phone4 {
    width: 625px;
    height: 300px;
    position: absolute;
    top: 4400px;
    left: 700px;
    background-color: #a5e5ac;
    border: 3px solid #fff;
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    animation: float 5s ease-in-out infinite;
}

#board5 {
  border: 1px solid orange;
  margin: 0 auto;
  width: 1500px;
  height: 1000px;
  padding: 0;
}

#square5 {
  width: 700px;
  height: 450px;
  position: absolute;
  top: 5100px;
  left: 100px;
  background-color: #85d170;
  border: 3px solid #fff;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  animation: float 4s ease-in-out infinite;
}

#phone5 {
    width: 300px;
    height: 420px;
    position: absolute;
    top: 5400px;
    left: 900px;
    background-color: #b3e5a5;
    border: 3px solid #fff;
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    animation: float 5s ease-in-out infinite;
}

#board6 {
  border: 1px solid green;
  margin: 0 auto;
  width: 1500px;
  height: 1000px;
  padding: 0;
}

#square6 {
  width: 500px;
  height: 400px;
  position: absolute;
  top: 6100px;
  left: 100px;
  background-color: #a4c665;
  border: 3px solid #fff;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  animation: float 5s ease-in-out infinite;
}

#phone6 {
    width: 400px;
    height: 350px;
    position: absolute;
    top: 6400px;
    left: 900px;
    background-color: #d0e8a4;
    border: 3px solid #fff;
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    animation: float 7s ease-in-out infinite;
}

#board7 {
  border: 1px solid yellow;
  margin: 0 auto;
  width: 1500px;
  height: 1000px;
  padding: 0;
}

#square7 {
  width: 450px;
  height: 350px;
  position: absolute;
  top: 7100px;
  left: 100px;
  background-color: #d2d66b;
  border: 3px solid #fff;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  animation: float 6s ease-in-out infinite;
}

#phone7 {
    width: 350px;
    height: 250px;
    position: absolute;
    top: 7400px;
    left: 900px;
    background-color: #e3e5b0;
    border: 3px solid #fff;
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    animation: float 4s ease-in-out infinite;
}

#board8 {
  border: 1px solid orange;
  margin: 0 auto;
  width: 1500px;
  height: 1000px;
  padding: 0;
}

#square8 {
  width: 400px;;
  height: 300px;;
  position: absolute;
  top: 8100px;
  left: 100px;
  background-color: #e8ab43;
  border: 3px solid #fff;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  animation: float 5s ease-in-out infinite;
}

#phone8 {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 8400px;
    left: 900px;
    background-color: #e5d2b0;
    border: 3px solid #fff;
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    animation: float 4s ease-in-out infinite;
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
  }
    from {-webkit-transform:translate(0, 0px);
  }
  65% {-webkit-transform:translate(0, 30px);
  }
    to {-webkit-transform: translate(0, -0px);
  }
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	}
}

#cloud1{
  position: absolute;
  top: 300px;
  left: 400px;
}

#cloud2{
  position: absolute;
  top: 150px;
  left: 500px;
}

#cloud3{
  position: absolute;
  top: 400px;
  left: 300px;
}

#cloud4{
  position: absolute;
  top: 700px;
  left: 600px;
}

#cloud5{
  position: absolute;
  top: 1100px;
  left: 500px;
}

#cloud6{
  position: absolute;
  top: 1400px;
  left: 300px;
}

#bird1{
  position: absolute;
  top: 2200px;
  left: 300px;
}

#bird2{
  position: absolute;
  top: 600px;
  left: 300px;
}

#cloud7{
  position: absolute;
  top: 1800px;
  left: 300px;
}

.x1 {
	-webkit-animation: moveclouds 20s linear infinite;
	-moz-animation: moveclouds 20s linear infinite;
	-o-animation: moveclouds 20s linear infinite;
  opacity: 1;
}

.x2 {
	-webkit-animation: moveclouds 15s linear infinite;
	-moz-animation: moveclouds 15s linear infinite;
	-o-animation: moveclouds 15s linear infinite;
  opacity: 0.7;
}

.x3 {
	-webkit-animation: moveclouds 12s linear infinite;
	-moz-animation: moveclouds 12s linear infinite;
	-o-animation: moveclouds 12s linear infinite;
  opacity: 0.8;
}

.x4 {
	-webkit-animation: moveclouds 17s linear infinite;
	-moz-animation: moveclouds 17s linear infinite;
	-o-animation: moveclouds 17s linear infinite;
  opacity: 0.7;
}

.x5 {
	-webkit-animation: moveclouds 13s linear infinite;
	-moz-animation: moveclouds 13s linear infinite;
	-o-animation: moveclouds 13s linear infinite;
  opacity: 0.8;
}

.x6 {
	-webkit-animation: moveclouds 10s linear infinite;
	-moz-animation: moveclouds 10s linear infinite;
	-o-animation: moveclouds 10s linear infinite;
  opacity: 1;
}

.x7 {
	-webkit-animation: moveclouds 20s linear infinite;
	-moz-animation: moveclouds 20s linear infinite;
	-o-animation: moveclouds 20s linear infinite;
  opacity: 0.8;
}

.x8 {
	-webkit-animation: movebirds 17s linear infinite;
	-moz-animation: movebirds 17s linear infinite;
	-o-animation: movebirds 17s linear infinite;
  opacity: 0.7;
}

.x9 {
	-webkit-animation: moveclouds 13s linear infinite;
	-moz-animation: moveclouds 13s linear infinite;
	-o-animation: moveclouds 13s linear infinite;
  opacity: 0.8;
}

@-webkit-keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -1000px;}
}
@-moz-keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -1000px;}
}
@-o-keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -1000px;}
}

@-webkit-keyframes movebirds {
	0% {margin-left: -1000px;}
	100% {margin-left: 1000px;}
}
@-moz-keyframes movebirds {
	0% {margin-left: -1000px;}
	100% {margin-left: 1000px;}
}
@-o-keyframes movebirds {
	0% {margin-left: -1000px;}
	100% {margin-left: 1000px;}
}
